
/* ----------------------------------------------------------------------------
    Global (html) Section
----------------------------------------------------------------------------- */

html {
  font-size: 16px;
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 740px) {
  html {
    font-size: 12px;
  }
}


/* ----------------------------------------------------------------------------
    Body Section
----------------------------------------------------------------------------- */
body {
  font-family: 'Patrick Hand SC';    
  background-color: #C0C0C0;
}

body h1 {
  font-size: 3rem;
  text-shadow: 2px 2px 2px white,
               4px 4px 2px #070772, 
               6px 6px 2px #a82727;
}

body h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0.75rem 0rem;
  color: #080850;
  text-shadow: 3px 3px 5px darkgreen;
}

body h3 {
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  margin: 0.125rem 0rem;
  color: #000036;
  text-shadow: 3px 3px 5px darkgreen;
}

body h4 {
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  margin: 0.75rem 0rem;
}

body p {
  font-size: 1rem;
  color: #000040;
}


/* ----------------------------------------------------------------------------
    Header Section
----------------------------------------------------------------------------- */
.header {
    display: flex;
    position: fixed;
    justify-content: space-between; 
    align-items: center;
    padding: 0 0.5rem;
    top: 0px;
    width: 100%;
    height: 6rem;
    z-index: 5;
    background-color: #A0A0A0;
}

.header .logo {
  position: relative;
  font-family: Englebert;
  height: 4rem;
}

.header nav {
  position: relative;
  display: inline-flex;
  justify-content: flex-end;
  flex-grow: 2;
  font-size: 1.5rem;
  width: 65%;
  padding: 0px 1rem;
}

.header ul {
  list-style-type: none;
  margin: 1rem;
}

.header li {
  display: inline-block;
  padding: 0 0.5rem;
}

.header nav a {
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  color: #000040;
}

.header nav a:hover {
  color: #008000;
  text-shadow: 2px 2px 2px #bbdff3;
  position: relative;
  text-decoration: none;
}

@media only screen and (max-width: 1200px) {
  body h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 875px) {
  body h1 {
    font-size: 2.0rem;
  }
}

@media only screen and (max-width: 600px) {
  body h1 {
    font-size: 1.5rem;
  }
  .header .nav a {
    font-size: 1rem;
  }
}
/* ----------------------------------------------------------------------------
    Main Section
----------------------------------------------------------------------------- */
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  top: 8.5rem;
  margin: 1rem 2rem;
}

/* ----------------------------------------------------------------------------
    Charter Section 
----------------------------------------------------------------------------- */
.charter {
  position: relative;
  top: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-size: 2rem;
  border: 2px solid black;
  margin: 1rem 1rem;
  padding: 0.5rem 2rem;
  scroll-margin-top: 6.5rem;
  background-color: #A0A0D0;
}


/* ----------------------------------------------------------------------------
    Pantheon Section
----------------------------------------------------------------------------- */
.pantheon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem 1rem;
  border: 3px solid black;
  margin: 1rem 1rem;
  scroll-margin-top: 6.5rem; 
  background-color: #A0A0D0;
}

.pantheon .items {
  border: none;
}

.pantheon .title {
  display: block;
  width: 100%;
  flex-grow: 1;
  border: none;
  text-align: center;
  margin: 0px 0px;
  padding: 0px 0px;
}

.pantheon .item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  width: 40%;
  border: none;
}

.pantheon .image-container {
  max-width: 100%;
  width: 100%;
  height: auto; 
  overflow: hidden;
  border: none;
  margin: 0px 0px;
  padding: 0px 0px;
}

.pantheon img {
  display: block;
  min-width: 16.5rem;
  max-width: 16.5rem;
  width: 16.5rem;
  height: auto;
  border: none;
}

.pantheon h3, h4 {
  text-align: center;
}

.pantheon p {
  font-size: 1.5rem;
}

/* ----------------------------------------------------------------------------
    Resources Section
----------------------------------------------------------------------------- */
.resources {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem 1rem;
  border: 3px solid black;
  margin: 1rem 1rem;
  scroll-margin-top: 6.5rem; 
  background-color: #A0A0D0;
}

.resources h3 {
  margin-bottom: 0.5rem;
}

.resources p {
  margin: 0.33rem 0.23rem;
  font-size: 1.75rem;
}

.resources a {
  font-weight: 700;
  text-decoration: none;
  color: #000040;
}

.resources a:hover {
  color: #008000;
  text-shadow: 2px 2px 2px #bbdff3;
}


@media only screen and (max-width: 640px) {
  .pantheon .item {
    width: 60%;
  }
}


/* ----------------------------------------------------------------------------
    Footer Section
----------------------------------------------------------------------------- */
.footer {
  padding: 5rem 5rem;
  border: 3px solid black;
  margin: 1rem 1rem;
  scroll-margin-top: 6.5rem; 
  background-color: #A0A0D0;
  opacity: 0.95;
}